<!DOCTYPE html>
<html dir="ltr">
<head>
	<title>The recovery email was sent successfully.</title>
</head>
<body>
	<div style="font-family: vazir; text-align: center;">
		<h1>A password reset request has been sent</h1>

		<p>We have emailed you the password setting instructions. If there is an account with the email you entered, you should receive these instructions soon.</p>

		<p>If you do not receive an email, please check that the address you entered is the same as the one you registered with, and also check your spam folder.</p>
	</div>
</body>
</html>