{% extends 'blog/base.html' %}

{% load static %}
{% load ratings %}
{% load base_tags %}
{% load humanize %}

{% block main %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static "blog/img/home-bg.jpg" %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>silicon</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {% block header %}{% endblock %}
        
        <aside>
          {% popular_articles %}
          {% hot_articles %}
        </aside>

        {% for article in object_list %}
          <div class="post-preview">
            <a href="{% url 'blog:detail' article.slug %}">
              <h2 class="post-title">
                {{article.title}}
                {% if article.is_special %}
                  <span class="badge badge-danger" style="font-size: 14px;">special</span>
                {% endif %}
              </h2>
              <div>{% ratings article %}</div>
              <h3 class="post-subtitle">
                {{article.description|striptags|truncatewords:30}}
              </h3>
            </a>
            <p class="post-meta">Posted by  
              <a href="{% url 'blog:author' article.author %}">{{article.author.get_full_name}}</a>
              {{article.publish|naturaltime}}</p>
            <div>
              {% for cat in article.category.active %}
                <a href="{% url 'blog:category' cat.slug %}">#{{cat.title}}</a>
              {% endfor %}
            </div>
            <div>Visits: {{article.hits.count}}</div>
          </div>
          <hr>
        {% empty %}
          <p>Unfortunately, there is no content to display.</p>
        {% endfor %}
        <!-- Pager -->
        {% if is_paginated %}
          <div class="clearfix pager-botton">
            {% if page_obj.has_previous %}
            <a class="btn btn-primary text-uppercase" href="{% block previous_page_url %}{% endblock %}">&larr; Older Posts</a>
            {% endif %}
            {% if page_obj.has_next %}
            <a class="btn btn-primary text-uppercase ml-3" href="{% block next_page_url %}{% endblock %}">New Posts &rarr;</a>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}